.header{
    margin: 0;
    justify-content: right;
    gap: 5px;
    display: flex;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #bbdbfc;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    justify-content: center;
    width: fit-content;
    height: auto;
    align-items: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    top: 10px;
    right: 10px;
    display: flex;
    background-color: #8C86EE;
    border-radius: 5px;
    gap: 10px;
    font-size: larger;
}

.buttons:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #5f57f5;
}