.header{
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: absolute;
    display: flex;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #bbdbfc;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin: 5px;
}

.to_home{
    padding: 0;
    gap: 5px;
    margin-right: 5px;
    height: fit-content;
    width: fit-content;
    background: none;
    cursor: pointer;
    display: flex;
}

.to_home:hover{
    transform: translateY(-2px);
}

.nav-bar{
    width: fit-content;
    font-size: larger;
    cursor: pointer;
    border-radius: 5px;
}

.logo{
    height: 50%;
    width: 125px;
}

.button-cont{
    display: flex;
    gap: 5px;
}

.buttons{
    cursor: pointer;
    background-color: #8C86EE;
    border-radius: 5px;
    font-size: larger;
    height: fit-content;
    width: fit-content;
}

.buttons:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #5f57f5;
}