.header{
    max-width: 1200px;
    margin-left: 5% auto;
    margin-right: 5% auto;
    position: absolute;
    display: flex;
    border: none;
    border-radius: 5px;
    padding: 0px 20px;
    background-color: #bbdbfc;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100%;
    height: 10%;
    align-items: center;
    margin: 5px;
    gap: 50px;
}
.nav-bar{
    margin: 0;
    justify-content: center;
}

.button-cont{
    display: flex;
    gap: 15px;
}

.buttons{
    cursor: pointer;
    background-color: #8C86EE;
    border-radius: 5px;
    font-size: larger;
}

.buttons:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #5f57f5;
}