.header{
    justify-content: center;
    align-items: center;
    background-color: #bbdbfc;
    text-align: right;
    height: auto;
    width: fit-content;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    color: black;
}
.button{
    background-color: #8C86EE;
    padding:2px;
    margin-left: 10px;
}