.header{
    justify-content: center;
    align-items: center;
    background-color: #bbdbfc;
    text-align: right;
    height: auto;
    width: fit-content;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    color: black;
}