.wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission{
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: fit-content;
    padding: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(250, 235, 215, 0.5);
}

.mission_statement{
    text-align: justify;
    font-size: larger;
    padding: 2px;
}