.wrapper{
    display: flex;
}

.contact{
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    width: 90%;
    height: fit-content;
    padding: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(250, 235, 215, 0.5);
}

.contact-p{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: larger;
    padding: 2px;
}

.image{
    width: 15%;
    height: 15%;
}

.name{
    padding: 2px;
    text-decoration: underline;
}

.description{
    
}