.App {
  text-align: justify;
  justify-content: center;
}

.home{
  text-align: center;
  justify-content: center;
  width: 90%;
  height: fit-content;
  padding: 5px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
}