.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home{
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  margin-top: 80px;
  text-align: center;
  justify-content: center;
  width: 90%;
  height: fit-content;
  padding: 5px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
}